Free_MuleSoft_Developer_Course/send-xlsx/src/main/mule/send-xlsx.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e67a8b1e-8e0e-419e-8c83-7f8b82a50a72" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="send-xlsx" doc:id="e30dc22c-2d3b-4b1b-bcc2-b0ba3b110a2f" >
		<http:listener doc:name="/Get" doc:id="605d3756-c789-42fe-a40d-9be45563061a" config-ref="HTTP_Listener_config" path="send-xlsx"/>
		<set-variable value="#[attributes.queryParams.format]" doc:name="save query parameter as variable" doc:id="d389187b-2ffc-4b5d-a1b2-2a310a0bff3f" variableName="queryParamDataFormat"/>
		<set-variable value="#[attributes.headers.'content-type']" doc:name="save header content type as variable" doc:id="4e5fb3b3-e431-4f74-8f15-105999df89ac" variableName="headerDataFormat"/>
		<ee:transform doc:name="data format to be returned" doc:id="09184d2f-695e-4162-94ac-1e3dd9462a88" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="requested_format" ><![CDATA[%dw 2.0
output application/json
---
if (isEmpty(vars.queryParamDataFormat) == true)
   splitBy(vars.headerDataFormat, '/')[1]
else
   vars.queryParamDataFormat]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<file:read doc:name="Read xlsx data" doc:id="b8cb5db4-62ac-446c-b207-0ab4c1e2466c" path="C:\Fish\fish\MuleSoft\MuleSoftDeveloperCourse\data\airports.xlsx" outputMimeType="application/xlsx"/>
		<choice doc:name="Choice" doc:id="829382a1-e3e6-4dd8-9976-baecdad0eac1" >
			<when expression="#[vars.requested_format == 'csv']">
				<ee:transform doc:name="to CSV" doc:id="d02b4a22-eace-4e60-9397-4a62b916ba0c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/csv
---
payload.airports]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<when expression="#[vars.requested_format == 'xml']">
				<ee:transform doc:name="to XML" doc:id="47a81fca-221c-4877-94f8-a06a045f36c1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	'airports':
	    {
	    	"data": payload.airports
	    }
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[vars.requested_format == 'json']">
				<ee:transform doc:name="to JSON" doc:id="662a2c70-775b-42dd-9ebf-c3a612d606f8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.airports]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[isEmpty(vars.requested_format)]">
				<ee:transform doc:name="JSON when no format specified" doc:id="b121a79c-07b8-4a86-bbf6-4563bea76e48" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.airports]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="invalid data format" doc:id="fa2b881a-4473-4f9a-9186-2510c4f9092b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": vars.requested_format default '' ++ " is not supported data format!"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
