Free_MuleSoft_Developer_Course/handling-errors/src/main/mule/handling-errors.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="73a440de-a518-486a-bcf5-9d85988a1398" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="mySQL-Database_Config" doc:name="Database Config" doc:id="00557244-e1d1-41de-b370-941a1b64421d" >
		<db:my-sql-connection host="${mysql.host}" port="${mysql.port}" user="${mysql.user}" password="${mysql.password}" database="${mysql.dbase}" />
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="8b552837-23bd-4d8f-8fe8-8b8a6ad38479" file="config.yaml" />
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="cbf38e77-f6bf-4666-bdb2-70ed996e4cb0" />
	<db:config name="Database_Config-MySQL-northwind" doc:name="Database Config" doc:id="e6e158c2-dde7-4448-a63e-3a8c6d3c8b38" >
		<db:my-sql-connection host="${mysql_northwind.host}" port="${mysql_northwind.port}" user="${mysql_northwind.user}" password="${mysql_northwind.password}" database="${mysql_northwind.dbase}" />
	</db:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="a0aca351-9af5-4893-b16d-7aaf00f08677" >
		<db:generic-connection url="${postgresql_northwind.url}" driverClassName="${postgresql_northwind.driver_name}" user="${postgresql_northwind.user}" password="${postgresql_northwind.password}" />
	</db:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="93b058b5-2311-4cbb-8cbb-89d323e68037" basePath="/test" >
		<http:request-connection host="test" port="4567" />
	</http:request-config>
	
	<flow name="update" doc:id="4f3767a9-a570-4f11-ae64-1ee3acd14926" >
		<http:listener doc:name="/GET Update Product" doc:id="814a0bf0-ee43-44d3-bc17-733a9df30b6f" config-ref="HTTP_Listener_config" path="/update-customer">
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="a5f1c1ca-c862-4c19-95ed-ced5f2a0b74d" />
		<db:update doc:name="Update" doc:id="bf54234e-1cde-4938-8b2e-f204b41c176a" config-ref="mySQL-Database_Config">
			<db:sql ><![CDATA[UPDATE customers 
SET 
    City = :new_city,
    Country = :new_country,
    Address = :new_address,
    PostalCode = :new_postal_code
WHERE
   CustomerID = :provided_CustomerID;

]]></db:sql>
			<db:input-parameters ><![CDATA[#[{new_city: attributes.queryParams.City,
new_country:attributes.queryParams.Country,
new_address: attributes.queryParams.Address,
new_postal_code:attributes.queryParams.PostalCode,
provided_CustomerID: attributes.queryParams.CustomerID
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="d5abedfc-e711-4a3e-8923-777066ed5c8e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Table successfully updated!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	
	
	<flow name="update-with-validator" doc:id="7210f2b6-c3c1-4cf8-a65a-4982c85ef0f6" >
		<http:listener doc:name="/GET Update Product" doc:id="d5b9f7cf-ac0a-4e7f-a4ab-50b8128b60ae" config-ref="HTTP_Listener_config" path="/update-customer2" />
		<ee:transform doc:name="create variables" doc:id="4f4d9f90-65fa-4324-8ef9-6855c741efab" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="City" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.City]]></ee:set-variable>
				<ee:set-variable variableName="Country" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.Country]]></ee:set-variable>
				<ee:set-variable variableName="Address" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.Address]]></ee:set-variable>
				<ee:set-variable variableName="PostalCode" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.PostalCode]]></ee:set-variable>
				<ee:set-variable variableName="CustomerID" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.CustomerID]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<validation:is-number doc:name="Is number" doc:id="656aa3f7-72e1-4668-b868-3e406f27bed0" config-ref="Validation_Config" message='#["CustomerID should be an integer; however " ++ attributes.queryParams.CustomerID as String default "" ++ " is not an integer!"]' value="#[attributes.queryParams.CustomerID]" numberType="INTEGER"/>
		<validation:is-not-null doc:name="Is not null" doc:id="e6ed8b03-a9ca-47c7-aa7e-672fdfeb573e" config-ref="Validation_Config" value="#[vars.Address]" message='Address should be provided!'/>
		<validation:is-not-null doc:name="Is not null" doc:id="d81f90e6-6d8f-484f-b125-7d721d1e08d1" config-ref="Validation_Config" value="#[vars.Country]" message='Country should be provided!'/>
		<validation:is-not-null doc:name="Is not null" doc:id="c829bb77-4210-45aa-9f10-0e0d32cc3fd8" config-ref="Validation_Config" value="#[vars.PostalCode]" message='PostalCode should be provided'/>
		<validation:is-not-null doc:name="Is not null" doc:id="fc014aff-1d33-40e5-aff1-eadf85c7c22d" config-ref="Validation_Config" value="#[vars.City]" message='City should be provided!'/>
		<db:update doc:id="95551ab6-3c95-4ff7-b187-a24555c8f7bc" config-ref="mySQL-Database_Config" doc:name="Update" >
			<db:sql ><![CDATA[UPDATE customers 
SET 
    City = :new_city,
    Country = :new_country,
    Address = :new_address,
    PostalCode = :new_postal_code
WHERE
   CustomerID = :provided_CustomerID;

]]></db:sql>
			<db:input-parameters ><![CDATA[#[{new_city: vars.City,
new_country:vars.Country,
new_address: vars.Address,
new_postal_code:vars.PostalCode,
provided_CustomerID: vars.CustomerID
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="2ac83b2c-b693-4ff6-9ae3-126de23d3041" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Table successfully updated!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="errors-read" doc:id="a2ab4d76-70b0-4efc-9792-8501434ff95b" >
		<http:listener doc:name="/GET" doc:id="fa3d3403-284c-4c17-841a-6c965ca6f011" config-ref="HTTP_Listener_config" path="/read">
			<http:error-response>
				<http:body ><![CDATA[#[output plain/text --- error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<file:read doc:name="Read" doc:id="3cc14040-a467-4a06-8eeb-b3811cc84761" path="C:\Fish\fish\MuleSoft\MuleSoftDeveloperCourse\data\airports1.csv" outputMimeType="application/csv"/>
		<ee:transform doc:name="to JSON" doc:id="2aca8dc5-ce76-460b-9195-bfb8928e7365" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="663ebcef-c127-4128-8b1e-89989e34041f" />
	</flow>
	<flow name="errors-request" doc:id="c2d60fab-1160-4223-a567-bfd287cb7eea" >
		<http:listener doc:name="/GET" doc:id="d71a47fa-bb87-488c-82ce-d98fd26e341f" config-ref="HTTP_Listener_config" path="/request"/>
		<http:request method="OPTIONS" doc:name="Request" doc:id="0dc2d775-0b59-4600-a258-5774c553ddf2" config-ref="HTTP_Request_configuration" path="test"/>
		<logger level="INFO" doc:name="Logger" doc:id="ae481fa9-16b5-4159-95e8-d1a338ca68a6" />
	</flow>
	<flow name="errors-db-connect" doc:id="d35ce063-6ffe-498d-b644-6084872b2761" >
		<http:listener doc:name="/GET" doc:id="7c43ce12-0917-4393-b105-d62b5852fbd4" config-ref="HTTP_Listener_config" path="/get-data-db"/>
		<db:select doc:name="Select" doc:id="95697f97-c2fa-4a75-9691-8dc19455ca7c" config-ref="mySQL-Database_Config">
			<db:sql ><![CDATA[SELECT * FROM customers;]]></db:sql>
		</db:select>
		<ee:transform doc:name="to JSON" doc:id="7095beeb-9d94-45af-9185-1a174360d87c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2aa70f5d-8b86-4eca-9bf4-c55d8c69fd6a" />
	</flow>
	
	
	<flow name="example1A" doc:id="a79ac03c-fcbd-45ba-a820-01356ec73896" >
		<http:listener doc:name="example1A" doc:id="786c53c5-f4be-40a6-af32-73aac07742b1" config-ref="HTTP_Listener_config" path="/example1A" />
		<set-payload value="Success -Started Flow" doc:name="Success -Started Flow" doc:id="4170ce7e-0eab-4046-852c-cf0ca3207c2a" />
		<logger level="INFO" doc:name="Logger" doc:id="9fca4d06-ecba-4215-be2c-e956f3c921d0" />
		<validation:is-number numberType="INTEGER" doc:name="is the payload a number?" doc:id="c42dcdc9-9b36-48ac-8bb1-db0d0cd47c0f" config-ref="Validation_Config" value="#[payload]" />
		<set-payload value="Success - Finished Flow" doc:name="Success - Finished Flow" doc:id="b4210e88-a533-4dd4-834b-f9c7ce529269" />
		<logger level="INFO" doc:name="Logger" doc:id="1f49ecc1-61e7-4743-a156-4df50e653d88" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b075f8ac-541b-4466-a494-1bed2c727343" >
				<set-payload value="Error -Try Scope" doc:name="Error -Main Flow" doc:id="40f5a540-ff82-4b56-941f-93f56bdb906d" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="example1B" doc:id="4fa3005b-0988-4b4c-9246-c28eaffe78b7" >
		<http:listener doc:name="example1B" doc:id="9e39fbdc-b9cf-466d-8ca0-6f66bfcfcbfb" config-ref="HTTP_Listener_config" path="/example1B" />
		<set-payload value="Success -Started Flow" doc:name="Success -Started Flow" doc:id="0ab83532-1470-4ddc-b35c-5c2df7bc654c" />
		<logger level="INFO" doc:name="Logger" doc:id="98de3af2-aeba-4b25-ae85-51f70e5ef273" />
		<validation:is-number numberType="INTEGER" doc:name="is the payload a number?" doc:id="e6a0a790-fce9-464a-90a9-79c9806b77e5" config-ref="Validation_Config" value="#[payload]" />
		<set-payload value="Success - Finished Flow" doc:name="Success - Finished Flow" doc:id="32c04bf7-6d21-4fbe-9f4e-9a538fcda350" />
		<logger level="INFO" doc:name="Logger" doc:id="72274323-2b8d-4191-a282-d79273b074e8" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5613c23b-e910-48c3-92ea-f6e3624300cd" >
				<set-payload value="Error -Main Flow" doc:name="Error -Main Flow" doc:id="571008ba-e869-4d03-a710-63d8010aca48" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="example1C" doc:id="0f1f9fee-d9dc-44f3-bffe-31ec7f1d1d66" >
		<http:listener doc:name="/example1C" doc:id="cc61fcc7-fa5d-4ae4-bcff-ebcde34058b4" config-ref="HTTP_Listener_config" path="/example1C" />
		<set-payload value="Success -Started Flow" doc:name="Success -Started Flow" doc:id="0aacf8e7-691a-4cea-a7f7-f0ce95381e52" />
		<logger level="INFO" doc:name="Logger" doc:id="2a9f1cae-d8a7-435c-acce-d48831529650" />
		<validation:is-number numberType="INTEGER" doc:name="is the payload a number?" doc:id="725b3761-5b45-4d45-ba43-20334ff1d7b4" config-ref="Validation_Config" value="#[payload]" />
		<set-payload value="Success - Finished Flow" doc:name="Success - Finished Flow" doc:id="bb2d0f4e-4ffc-4d39-81a4-98a383158815" />
		<logger level="INFO" doc:name="Logger" doc:id="6f9a470c-a6c7-41f3-93c3-643798e194d6" />
	</flow>
	
	<flow name="example2A" doc:id="33e58af4-4f77-48aa-9984-51af448b52f1" >
		<http:listener doc:name="/example2A" doc:id="86c77a6e-34fa-4f1a-8521-9a97196172c6" config-ref="HTTP_Listener_config" path="/example2A" />
		<set-payload value="Success -Started Flow" doc:name="Success -Started Flow" doc:id="48cfa0fc-c378-4b48-9c35-47b6994b8c8a" />
		<logger level="INFO" doc:name="Logger" doc:id="b96bdd7b-e977-42ea-9a56-ab153b2b4977" />
		<flow-ref doc:name="Flow Reference" doc:id="c64503c6-487a-4605-9aad-68d5e89b0d1b" name="example2A-private-flow"/>
		<set-payload value="Success - Finished Flow" doc:name="Success - Finished Flow" doc:id="cd04002f-6925-417f-87aa-df7c07c0de5a" />
		<logger level="INFO" doc:name="Logger" doc:id="d517b191-ba95-4b92-a98e-8828cfd09eaa" />
	</flow>
	<flow name="example2A-private-flow" doc:id="af28e9f5-a122-48b9-8598-894a7e9c96e2" >
		<validation:is-number numberType="INTEGER" doc:name="is the payload a number?" doc:id="ab42eab7-ecac-4db0-a32f-50045043aad7" config-ref="Validation_Config" value="#[payload]" />
		<set-payload value="Success - Finished private Flow" doc:name="Success - Finished private Flow" doc:id="ae568d21-8554-4939-ae33-a462af49f12c" />
	</flow>
	
	<flow name="example2B" doc:id="02d95265-6628-43b3-b0df-063ee3b25900" >
		<http:listener doc:name="/example2B" doc:id="3887896a-c6b0-4f9c-8135-44a99d3aadf2" config-ref="HTTP_Listener_config" path="/example2B" />
		<set-payload value="Success -Started Flow" doc:name="Success -Started Flow" doc:id="d576394a-b597-4b7d-b951-ffacda173876" />
		<logger level="INFO" doc:name="Logger" doc:id="159cea99-0101-4de6-b9c0-e7192dcad4f5" />
		<flow-ref doc:name="Flow Reference" doc:id="e2611594-bc93-495e-b100-49543ae64e41" name="example2B-private-flow"/>
		<set-payload value="Success - Finished Flow" doc:name="Success - Finished Flow" doc:id="6c2ee2de-bb77-476f-927e-97c9b1b46c32" />
		<logger level="INFO" doc:name="Logger" doc:id="669512f1-0cb5-405d-af65-2c79ded6c960" />
	</flow>
	
	<flow name="example2B-private-flow" doc:id="aecc2bee-59d5-46de-b159-2a79832fe658" >
		<validation:is-number numberType="INTEGER" doc:name="is the payload a number?" doc:id="19bf7b5e-f310-44c7-850f-623bcf844b24" config-ref="Validation_Config" value="#[payload]" />
		<set-payload value="Success - Finished private Flow" doc:name="Success - Finished private Flow" doc:id="2b5afdbb-0cc6-4b07-a64c-2efd719ad375" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="10dc6015-5599-486a-8e31-a40ace3181a9" >
				<set-payload value="Error - Finished private Flow" doc:name="Error - Finished private Flow" doc:id="f25953ed-acea-47d4-83ae-c7069145be7b" />
			</on-error-continue>
		</error-handler>
	
</flow>
	
	
	<flow name="example2C" doc:id="64dfe6e9-fb2d-4c80-81c8-054a2f18c1e9" >
		<http:listener doc:name="/example2C" doc:id="9e6889c2-0dac-4127-83d8-1a2989c0f8df" config-ref="HTTP_Listener_config" path="/example2C" />
		<set-payload value="Success -Started Flow" doc:name="Success -Started Flow" doc:id="b1dddf62-5634-40f2-9603-94645737bd7a" />
		<logger level="INFO" doc:name="Logger" doc:id="3bb9e3b3-b3ab-458f-854c-04df8d1e14c3" />
		<flow-ref doc:name="Flow Reference" doc:id="586adbed-f808-449d-8753-db02e354a9d5" name="example2C-private-flow"/>
		<set-payload value="Success - Finished Flow" doc:name="Success - Finished Flow" doc:id="dc5c5430-cd3e-4ee4-b514-c3344074e9f2" />
		<logger level="INFO" doc:name="Logger" doc:id="bcb9d258-aaa0-43b0-b36f-815f10800a44" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="11785542-d37a-4dd1-b512-7f4f193f76a9" >
				<set-payload value="Error - Finished main Flow" doc:name="Error - Finished main Flow" doc:id="d1e6af5c-506b-49a8-bc5d-9874d56c4b4f" />
			</on-error-continue>
		</error-handler>
	
</flow>
	
	<flow name="example2C-private-flow" doc:id="6fa284c7-eebc-4e85-bb1b-2ba88732f7bd" >
		<validation:is-number numberType="INTEGER" doc:name="is the payload a number?" doc:id="75aa73a5-2304-471f-a3e0-a2ab807b658b" config-ref="Validation_Config" value="#[payload]" />
		<set-payload value="Success - Finished private Flow" doc:name="Success - Finished private Flow" doc:id="55da2e68-453b-44a8-a72b-be03081f0cb2" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ffe7b403-1b7d-4f4d-8053-07987fc6bf54" >
				<set-payload value="Error - Finished private Flow" doc:name="Error - Finished private Flow" doc:id="536a99be-a31b-40b0-b49c-b3c2769ea07a" />
			</on-error-continue>
		</error-handler>
	
</flow>
	
	<flow name="example2D" doc:id="5a62ac64-fe4e-4be9-89cd-033f7569a57e" >
		<http:listener doc:name="/example2D" doc:id="0aeb5ae4-4687-4c12-bd8b-c80028219b1b" config-ref="HTTP_Listener_config" path="/example2D" />
		<set-payload value="Success -Started Flow" doc:name="Success -Started Flow" doc:id="4c376ddf-65c9-441a-ac31-c97e1c75c99e" />
		<logger level="INFO" doc:name="Logger" doc:id="9356b283-3af1-4492-99bb-6cf2de184c35" />
		<flow-ref doc:name="Flow Reference" doc:id="3f4bf4b5-9d5d-4a1c-aacc-23b7a240d85c" name="example2D-private-flow"/>
		<set-payload value="Success - Finished Flow" doc:name="Success - Finished Flow" doc:id="f6e8b2ea-4368-4121-a94a-bb9fd18ed794" />
		<logger level="INFO" doc:name="Logger" doc:id="5d936c0c-713c-4dca-83c2-27474b310faa" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="257f7d50-16b9-4717-8390-6709fac351d3" >
				<set-payload value="Error - Finished main Flow" doc:name="Error - Finished main Flow" doc:id="b3b0883a-08d5-43be-8ddf-c4137bc6200c" />
			</on-error-propagate>
		</error-handler>
	
</flow>
	
	
	<flow name="example2D-private-flow" doc:id="5cf5a042-427e-4fa2-8a45-2f22fab54158">
		<validation:is-number numberType="INTEGER" doc:name="is the payload a number?" doc:id="9dca2ca1-f0ab-4143-91ea-207f22096be4" config-ref="Validation_Config" value="#[payload]" />
		<set-payload value="Success - Finished private Flow" doc:name="Success - Finished private Flow" doc:id="56fbc233-380f-4005-839a-b9f62b786daf" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="aeb664dc-ebda-4ba4-8cb9-7f9fc5649da1" >
				<set-payload value="Error - Finished private Flow" doc:name="Error - Finished private Flow" doc:id="dc55502c-92fa-4682-9ced-199c07e2547b" />
			</on-error-continue>
		</error-handler>
	
</flow>
	<flow name="example2E" doc:id="84e70aa5-47b9-4042-9f19-275b326dbc66" >
		<http:listener doc:name="/example2E" doc:id="a3bc435c-5ce2-42cc-a063-7c79142c0f55" config-ref="HTTP_Listener_config" path="/example2E" >
		</http:listener>
		<set-payload value="Success -Started Flow" doc:name="Success -Started Flow" doc:id="aa33352b-acf2-4be3-89ab-0d33ed635f4a" />
		<logger level="INFO" doc:name="Logger" doc:id="e5f91771-5d37-4fdd-9e79-561fdcac01f0" />
		<flow-ref doc:name="Flow Reference" doc:id="ace621e8-a8ef-4b36-beef-78cca1a789cb" name="example2E-private-flow"/>
		<set-payload value="Success - Finished Flow" doc:name="Success - Finished Flow" doc:id="9bee1ebc-5f0c-4d32-8935-8c5e4ac34ba1" />
		<logger level="INFO" doc:name="Logger" doc:id="8349f7ec-f998-4c82-8f1a-5c707b8ca3a3" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="98de4f64-8069-439f-9fda-c7a6fe780e21">
				<set-payload value="inside main flow" doc:name="inside main flow" doc:id="bfc5965a-5594-4443-b107-28265d41785a" />
				<logger level="INFO" doc:name="Logger" doc:id="fc23094f-118b-49d5-9e3b-cd02df121f08" />
			</on-error-propagate>
		</error-handler>
	
</flow>
	<flow name="example2E-private-flow" doc:id="f343a486-c714-4a77-96f0-9a755cf47bf2" >
		<validation:is-number numberType="INTEGER" doc:name="is the payload a number?" doc:id="6a6765a8-02e8-465c-814b-b2885909ef87" config-ref="Validation_Config" value="#[payload]" />
		<set-payload value="Success - Finished private Flow" doc:name="Success - Finished private Flow" doc:id="f538f2d7-797c-4de1-85fa-7529acec36b7" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a3f9181b-2c2b-4103-94e1-161e3a088dcd" >
				<set-payload value="inside private flow" doc:name="inside private flow" doc:id="206ca9c4-3875-48bd-8a83-daba0a032fd9" />
				<logger level="INFO" doc:name="Logger" doc:id="053da5df-2dd2-49e0-b38c-a11906652ce6" />
			</on-error-propagate>
		</error-handler>
	
</flow>
	
	<flow name="example3A" doc:id="3f397473-cfd6-4c82-9a7e-71d7acece507" >
		<http:listener doc:name="/example3A" doc:id="8232e57d-894f-43c7-b03b-db7093ece454" config-ref="HTTP_Listener_config" path="/example3A"/>
		<set-payload value="Success -Started Flow" doc:name="Success -Started Flow" doc:id="8e1194a7-8758-4ead-bc0e-52fffae4c3e3" />
		<logger level="INFO" doc:name="Logger" doc:id="a5bbd54f-d277-42ab-8c24-957a573ff1f0" />
		<try doc:name="Try" doc:id="64b65369-4b56-4513-b52f-2ae0baf2211e" >
			<validation:is-number numberType="INTEGER" doc:name="is the payload a number?" doc:id="94a41d2a-35f5-449e-a116-7b36c5cf3bd0" config-ref="Validation_Config" value="#[payload]"/>
			<logger level="INFO" doc:name="Logger" doc:id="54c8f6a6-3a0c-4e84-9d99-336f255fbfd3" message="After validator"/>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="0e340f10-9cf1-40d7-8d99-ffed7d94acc5" >
					<set-payload value="Error -Try Scope" doc:name="Error -Try Scope" doc:id="d9df57c9-9340-45eb-8efa-67cb4f6c67a1" />
				</on-error-continue>
			</error-handler>
		</try>
		<set-payload value="Success - Finished Flow" doc:name="Success - Finished Flow" doc:id="3af77e99-48f2-4063-9786-9acbe125b290" />
		<logger level="INFO" doc:name="Logger" doc:id="5c41df92-e6ef-4f4c-a49c-290f1d31b946" />
	</flow>
	<flow name="example3B" doc:id="11ba6892-9259-4713-bb12-c363ed3ac379">
		<http:listener doc:name="example3B" doc:id="919bdd22-4c53-4abb-871a-8409190bebb8" config-ref="HTTP_Listener_config" path="/example3B" />
		<set-payload value="Success -Started Flow" doc:name="Success -Started Flow" doc:id="a4227f71-b102-4cd0-965b-4fc1e96147d0" />
		<logger level="INFO" doc:name="Logger" doc:id="06be52b2-b6f9-4f19-a7d3-ff75b9c60d75" />
		<try doc:name="Try" doc:id="5b52a3fa-6e97-48a2-bbb9-a809d2cb70c6">
			<validation:is-number numberType="INTEGER" doc:name="is the payload a number?" doc:id="68b96c3f-758c-4391-9868-2a61f57c2330" config-ref="Validation_Config" value="#[payload]" />
			<logger level="INFO" doc:name="Logger" doc:id="2da0091d-832c-4922-a986-1379673add10" />
			<error-handler>
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="842c74ee-0f51-4262-bf89-82c6fb32b2ac" >
					<set-payload value="Error -Try Scope" doc:name="Error -Try Scope" doc:id="768fd32f-4b4b-4985-9658-60306a4950f0" />
				</on-error-propagate>
			</error-handler>
		</try>
		<set-payload value="Success - Finished Flow" doc:name="Success - Finished Flow" doc:id="04bd79fc-0f2d-40fd-85d8-67acb5a30478" />
		<logger level="INFO" doc:name="Logger" doc:id="fafd464b-d4d9-47e0-a727-735cc1bfd1c2" />
	</flow>
	<flow name="example3C" doc:id="0356fe63-ccc4-46ad-b274-4879c9502788">
		<http:listener doc:name="/example3C" doc:id="575669bd-08a8-473d-8050-b5db19e2ea42" config-ref="HTTP_Listener_config" path="/example3C" />
		<set-payload value="Success -Started Flow" doc:name="Success -Started Flow" doc:id="254db08a-125a-46fe-8c83-3ba9ef1cb16f" />
		<logger level="INFO" doc:name="Logger" doc:id="2e4aab21-5364-4ce4-906f-f38ecd8fc031" />
		<try doc:name="Try" doc:id="e73bd64d-a5e3-4c2a-9d11-c9f24d8b29ef">
			<validation:is-number numberType="INTEGER" doc:name="is the payload a number?" doc:id="9a0e7c17-2fb4-4462-b81d-20737c8ed16d" config-ref="Validation_Config" value="#[payload]" />
			<logger level="INFO" doc:name="Logger" doc:id="81554544-635c-45b1-897f-b890d02b34b9" />
		</try>
		<set-payload value="Success - Finished Flow" doc:name="Success - Finished Flow" doc:id="06977a3b-3709-466f-8924-8d70cc2458dd" />
		<logger level="INFO" doc:name="Logger" doc:id="392344db-b278-4b55-8d17-025be31e8b0a" />
	</flow>
	
	<flow name="example4A" doc:id="78e1f6b9-c09b-4ca4-b70a-4e189adaeffd" >
		<http:listener doc:name="/example4A" doc:id="bebefc93-6002-43bb-b5d0-18a62f526854" config-ref="HTTP_Listener_config" path="/example4A" />
		<set-payload value="Success -Started Flow" doc:name="Success -Started Flow" doc:id="b177016e-67d8-40e5-92ae-afee2f47d9eb" />
		<logger level="INFO" doc:name="Logger" doc:id="c87961a4-d625-4ce7-92c5-f9c1b80cb2b9" />
		<flow-ref doc:name="Flow Reference" doc:id="8722fa68-f6ec-4630-a7f3-3b989c2338dc" name="example4A-private-flow"/>
		<set-payload value="Success - Finished Flow" doc:name="Success - Finished Flow" doc:id="3b243dd0-863d-434b-8577-7a46e86fb1c4" />
		<logger level="INFO" doc:name="Logger" doc:id="04e014d6-f540-42c3-b9e4-79037f317f4f" />
	</flow>
	
	<flow name="example4A-private-flow" doc:id="a88b3b8d-b756-4f0d-acea-8c2955380fa3" >
		<try doc:name="Try" doc:id="33bf474b-05dc-48a7-9ee6-673f53d63bae" >
			<validation:is-number numberType="INTEGER" doc:name="is the payload a number?" doc:id="79b34b18-9e10-4957-99ea-414dd20696fe" config-ref="Validation_Config" value="#[payload]" />
			<logger level="INFO" doc:name="Logger" doc:id="b339acf1-6ccc-48f1-8a1b-f4ac5229fe1b" />
		</try>
		<set-payload value="Success - Finished private Flow" doc:name="Success - Finished private Flow" doc:id="324c3d3d-4b24-40c7-b022-42a5487f8582" />
	</flow>
	
	<flow name="example4B" doc:id="d4ed89b1-ff30-40ad-abbf-8421f5e5fde5" >
		<http:listener doc:name="/example4B" doc:id="f02c9e6e-afd6-4df3-9043-b47313fc0c7e" config-ref="HTTP_Listener_config" path="/example4B" />
		<set-payload value="Success -Started Flow" doc:name="Success -Started Flow" doc:id="06e862ef-e848-46b1-bcf2-b24e5af2d758" />
		<logger level="INFO" doc:name="Logger" doc:id="b8d6da16-d524-49e3-8eea-999f4aa4def0" />
		<flow-ref doc:name="Flow Reference" doc:id="447332d5-cb21-4cb3-9fc7-9503b3b65368" name="example4B-private-flow"/>
		<set-payload value="Success - Finished Flow" doc:name="Success - Finished Flow" doc:id="efb1e90f-04c8-4d5f-ae3c-cffe2108245b" />
		<logger level="INFO" doc:name="Logger" doc:id="ff773d10-1ae7-4978-9332-b77c64722586" />
	</flow>
	
	<flow name="example4B-private-flow" doc:id="18bf7f55-94f1-42a9-b459-7c24b0a6fece" >
		<try doc:name="Try" doc:id="1a3080fa-e290-4b93-995b-8cb0073276fa" >
			<validation:is-number numberType="INTEGER" doc:name="is the payload a number?" doc:id="ab7fa113-b82e-4f1f-bd2d-45948f4348d3" config-ref="Validation_Config" value="#[payload]" />
			<logger level="INFO" doc:name="Logger" doc:id="13579bbb-d8d6-49dc-bbcd-e64edc94533d" />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a5a2d968-c1a7-4992-8066-3a77062b6520" >
					<set-payload value="try block-private flow" doc:name="try block-private flow" doc:id="37866798-1ede-4680-a74e-91b9e3014c31" />
				</on-error-continue>
			</error-handler>
		</try>
		<set-payload value="Success - Finished private Flow" doc:name="Success - Finished private Flow" doc:id="0ba53f71-93dc-44c9-b2be-1cfbefaad236" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="af40dc6a-a7b4-4b1b-aa04-e24f3416fb1d" >
				<set-payload value="Error - Finished private Flow" doc:name="Error - Finished private Flow" doc:id="4ab73de4-3b3b-4334-9601-ca4619f24274" />
			</on-error-continue>
		</error-handler>
	
</flow>
	
	
	<flow name="example4C" doc:id="f4a39f27-5b15-4bc5-b12e-ccce36b11099" >
		<http:listener doc:name="/example4C" doc:id="e27cac28-0bf2-4559-b991-eb9b22a92dd1" config-ref="HTTP_Listener_config" path="/example4C" />
		<set-payload value="Success -Started Flow" doc:name="Success -Started Flow" doc:id="62c1265f-00f3-4708-af46-0070980c751e" />
		<logger level="INFO" doc:name="Logger" doc:id="b56e5ffe-1964-467d-ae70-b0198a91822a" />
		<flow-ref doc:name="Flow Reference" doc:id="cc4085d8-5987-443b-af98-bb400dfeeb13" name="example4C-private-flow"/>
		<set-payload value="Success - Finished Flow" doc:name="Success - Finished Flow" doc:id="27f4a6e1-66bc-4e7f-b5e9-6a2d0c7c4b93" />
		<logger level="INFO" doc:name="Logger" doc:id="4bb0fae8-5154-4d7d-bf1f-e873078e6349" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="4c09afa6-2b14-4172-9c9d-5df61beae524" >
				<set-payload value="Error - Finished main Flow" doc:name="Error - Finished main Flow" doc:id="ab73359f-5b09-43e5-a025-23574be18a3e" />
			</on-error-continue>
		</error-handler>
	
</flow>
	
	<flow name="example4C-private-flow" doc:id="edd10336-5203-4e45-bc4a-7b78b9ecc4ea" >
		<try doc:name="Try" doc:id="df65bde8-c9c8-4a31-9ac1-deea525e4fe0" >
			<validation:is-number numberType="INTEGER" doc:name="is the payload a number?" doc:id="6d7a42a8-3729-4477-a088-f99dbd7bb965" config-ref="Validation_Config" value="#[payload]" />
			<logger level="INFO" doc:name="Logger" doc:id="39d09a02-994f-4b51-8138-033976dde667" />
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b448486d-3b7e-4b22-a467-be49fbe68d75" >
					<set-payload value="try block-private flow" doc:name="try block-private flow" doc:id="4e203563-d08e-4bdd-acde-27d2b49a6391" />
				</on-error-propagate>
			</error-handler>
		</try>
		<set-payload value="Success - Finished private Flow" doc:name="Success - Finished private Flow" doc:id="e0b20ef8-5b6a-459b-bc76-243df2f63025" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="fa4a7afa-195a-4908-8043-0d782d144c9b" >
				<set-payload value="Error - Finished private Flow" doc:name="Error - Finished private Flow" doc:id="48d57edc-a16c-4516-864f-db6523f745f6" />
			</on-error-continue>
		</error-handler>
	
</flow>
	
	<flow name="example4D" doc:id="c726b1c8-32ff-4b56-a3fa-aefb3fccbb06" >
		<http:listener doc:name="/example4D" doc:id="0307183e-1170-463a-8106-d545087194ed" config-ref="HTTP_Listener_config" path="/example4D" />
		<set-payload value="Success -Started Flow" doc:name="Success -Started Flow" doc:id="9b37f7e1-162d-4cf6-9fa6-a87ebc936ea2" />
		<logger level="INFO" doc:name="Logger" doc:id="1964c9bd-5bc6-4f1f-a744-213e9742fed5" />
		<flow-ref doc:name="Flow Reference" doc:id="16286227-6f26-4236-bc30-7a3cce2efa87" name="example4D-private-flow"/>
		<set-payload value="Success - Finished Flow" doc:name="Success - Finished Flow" doc:id="0f880aa3-f2d4-4a23-8eaf-b95483b204da" />
		<logger level="INFO" doc:name="Logger" doc:id="775cfbb7-32ad-40a4-b3fa-3ce8b81ba592" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="58419c1f-f259-42ec-ac68-7e1ecc982d10" >
				<set-payload value="Error - Finished main Flow" doc:name="Error - Finished main Flow" doc:id="ab2f7e32-0dc1-4f70-9442-5ff62776af05" />
			</on-error-propagate>
		</error-handler>
	
</flow>
	
	
	<flow name="example4D-private-flow" doc:id="ee484d83-be19-4c0b-8b79-21b855696714">
		<try doc:name="Try" doc:id="50ad8ddb-6579-4966-a8a7-f5f3eb31820f" >
			<validation:is-number numberType="INTEGER" doc:name="is the payload a number?" doc:id="adb92291-e208-4bea-b356-6f6c583513e0" config-ref="Validation_Config" value="#[payload]" />
			<logger level="INFO" doc:name="Logger" doc:id="178b5de5-3056-4825-b6eb-f3a082de8e89" />
		</try>
		<set-payload value="Success - Finished private Flow" doc:name="Success - Finished private Flow" doc:id="7b2d48ab-0c03-489d-a123-35fa6ab1476a" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="bbc1caa5-2b43-4c87-b787-c4a7cf909008" >
				<set-payload value="Error - Finished private Flow" doc:name="Error - Finished private Flow" doc:id="22180715-6fb5-4bda-ad92-5374a87f75ee" />
			</on-error-continue>
		</error-handler>
	
</flow>
	<flow name="example4E" doc:id="c3dbd6ec-338f-4b8a-84b1-b50df36ea2a9" >
		<http:listener doc:name="/example4E" doc:id="7cee5eda-2f90-4b32-b762-0f6f51e8937b" config-ref="HTTP_Listener_config" path="/example4E" >
		</http:listener>
		<set-payload value="Success -Started Flow" doc:name="Success -Started Flow" doc:id="52fed4d6-4ea7-49bc-a5e3-10644226fe4a" />
		<logger level="INFO" doc:name="Logger" doc:id="585294a5-9d95-4070-a9b0-9d13eaca43ea" />
		<flow-ref doc:name="Flow Reference" doc:id="196f217b-7059-4409-bd50-0dfc9815f6dd" name="example4E-private-flow"/>
		<set-payload value="Success - Finished private Flow" doc:name="Success - Finished Flow" doc:id="1fbdddfd-6aaa-4983-858d-da583328b779" />
		<logger level="INFO" doc:name="Logger" doc:id="bcc3d5c8-2e73-4616-9576-468bcfe46ede" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d2242e32-91da-4e51-a544-b89137d3927a">
				<set-payload value="inside main flow" doc:name="inside main flow" doc:id="9ae1b7d1-f8c7-48d0-bd6e-8b198852221f" />
				<logger level="INFO" doc:name="Logger" doc:id="cc42a749-14ab-4d9a-ad5e-3c9c4b6a9266" />
			</on-error-propagate>
		</error-handler>
	
</flow>
	<flow name="example4E-private-flow" doc:id="e7de66ed-5c6e-43af-bd9f-e1187bc3cb42" >
		<try doc:name="Try" doc:id="2a7f449c-0623-4312-a69b-dcbfad807728" >
			<validation:is-number numberType="INTEGER" doc:name="is the payload a number?" doc:id="049f8a87-50c2-40e7-bf68-ba863771772c" config-ref="Validation_Config" value="#[payload]" />
			<logger level="INFO" doc:name="Logger" doc:id="8d862749-df01-4d64-9ed5-01f360f39d88" />
		</try>
		<set-payload value="Success - Finished private Flow" doc:name="Success - Finished private Flow" doc:id="a9f51bb1-7bfb-4fa8-84e8-f726409a228f" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="83072ff5-4d2a-4102-9cac-6c01d347f4df" >
				<set-payload value="inside private flow" doc:name="inside private flow" doc:id="1ed9cb29-1422-45b0-a63f-db014a7b7b75" />
				<logger level="INFO" doc:name="Logger" doc:id="fca07e3d-d19e-4021-b14c-03dcbca9cd7f" />
			</on-error-propagate>
		</error-handler>
	
</flow>
	
	<flow name="merge-data" doc:id="ac317e16-11b8-488d-a3f5-eb57bd06fdf2" >
		<http:listener doc:name="/GET" doc:id="94fc58d7-2589-4dae-bc86-99587809b57e" config-ref="HTTP_Listener_config" path="combine-data/{employeeId}" />
		<set-variable value="#[attributes.uriParams.employeeId]" doc:name="ID" doc:id="4e2dfba1-31f7-4302-bb61-6a59efd54a17" variableName="ID" />
		<scatter-gather doc:name="Scatter-Gather" doc:id="8b694217-835c-4bf4-9058-76cf0e6ebdf9" >
			<route >
				<try doc:name="Try" doc:id="1ba1cb09-f6a1-401a-b264-9e8e762d5a06" >
					<db:select doc:name="PostgreSQL" doc:id="976c2ee7-b9a0-4918-8834-bda7eb42393b" config-ref="Database_Config">
					<db:sql><![CDATA[SELECT * FROM employee
WHERE empid = :empid]]></db:sql>
					<db:input-parameters><![CDATA[#[{empid: vars.ID}]]]></db:input-parameters>
				</db:select>
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b198dcc0-cb78-44e5-8bb7-162e6f2e689c" >
							<ee:transform doc:name="Transform Message" doc:id="54d28ec9-439d-4225-81a7-0d59aea6f7be" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'message': 'was not able to get data from postgres'
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route >
				<try doc:name="Try" doc:id="93af1694-0933-4a3c-a8e8-8c7b9c57e855" >
					<db:select doc:name="MySQL" doc:id="6b4e8bc7-66d3-447f-8685-618d72ab1f1e" config-ref="Database_Config-MySQL-northwind">
					<db:sql><![CDATA[SELECT territoryId FROM employeeterritory
WHERE employeeId = :employeeId]]></db:sql>
					<db:input-parameters><![CDATA[#[{employeeId: vars.ID}]]]></db:input-parameters>
				</db:select>
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="37ff8557-b8a8-4c87-9137-db8ca6cb0867" >
							<ee:transform doc:name="Transform Message" doc:id="bf91b986-e81d-4c57-aa58-b16fb30754f4" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'message': 'was not able to get data from MySQL'
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Merge/JSON" doc:id="92a74433-cec8-4321-9480-d10cc770c523" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[payload."0".payload] ++ [payload."1".payload]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

</mule>
