Free_MuleSoft_Developer_Course/add-only-numbers-error-continue/src/main/mule/add-only-numbers-error-continue.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e2b39560-2251-4868-b4fa-7c3ba6c0113d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="add-only-numbers-error-continue" doc:id="31e06133-fbee-439b-b0ee-1819b5c73aac">
		<http:listener doc:name="Listener" doc:id="8a025638-9d07-4c9e-9479-c06b7105bed6" config-ref="HTTP_Listener_config" path="add1" />
		<set-variable value="#[0]" doc:name="var1=0" doc:id="bae85d3b-eef9-4bd9-ad17-e7565b631086" variableName="var1" />
		<logger level="INFO" doc:name="Logger" doc:id="df52682d-deb6-4654-a183-14b1d60b4e14" />
		<foreach doc:name="For Each" doc:id="302ca827-02de-40b9-897e-686e0473342c">
			<try doc:name="Try" doc:id="05b432df-ed3b-4877-b009-2b36f21b37ef">
			<ee:transform doc:name="add" doc:id="3c808164-31bf-4ef7-a5bd-5cad447c66ed">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="var1"><![CDATA[%dw 2.0
output application/json
---
 payload + vars.var1]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="34c5616c-236f-4282-a6dd-4de430fc31b8" />
				<error-handler>
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="0ad51a1c-d785-41dd-97c8-0795e2c2127c">
						<logger level="INFO" doc:name="Logger" doc:id="cd276f4b-83fb-4fea-9adf-0ff427f736bd" message="#[payload] is not numeric!" />
					</on-error-continue>
				</error-handler>
			</try>
		</foreach>
		<ee:transform doc:name="final sum" doc:id="f54373d4-a5e0-4866-bca7-c7e6885901dc">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	'the sum of the numbers is': vars.var1
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
	</flow>
	<flow name="add-only-numbers-if-else" doc:id="96e1b0c9-0841-4f47-b76d-8a4495f59fa8" >
		<http:listener doc:name="Listener" doc:id="c86929f5-67e1-498b-a397-67177e1614f3" config-ref="HTTP_Listener_config" path="/add2"/>
		<set-variable value="#[0]" doc:name="var1=0" doc:id="68e6565a-4a06-42e5-b683-5f4aecff2fbe" variableName="var1"/>
		<logger level="INFO" doc:name="Logger" doc:id="80f3387c-f108-46c4-b4f5-c84d7cfdf26f" />
		<foreach doc:name="For Each" doc:id="d8d836c5-cce3-4809-8f52-ceda7592a8f4" >
			<logger level="INFO" doc:name="Logger" doc:id="1e51ad20-cfc5-4154-9e70-d60641cbc8fb" />
			<ee:transform doc:name="add" doc:id="81eb1d85-0703-49c2-9bab-4f00663ea9fe" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="var1" ><![CDATA[%dw 2.0
import isNumeric from dw::core::Strings
output application/json
---
if(isNumeric(payload) == true) payload + vars.var1 else vars.var1]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
		<ee:transform doc:name="final sum" doc:id="24da5e84-75c2-43ac-a0ef-d1e44acf9999" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'the sum of the numbers is': vars.var1
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
